# --------------------------------------------------
# Nextcloud
# --------------------------------------------------

NEXTCLOUD_PORT=8080

NEXTCLOUD_ADMIN_USER=admin

# Change this before starting Nextcloud.
NEXTCLOUD_ADMIN_PASSWORD=change-this-password


# --------------------------------------------------
# MariaDB
# --------------------------------------------------

DB_NAME=nextcloud

DB_USER=nextcloud

# Change this.
DB_PASSWORD=change-this-database-password

# Change this.
DB_ROOT_PASSWORD=change-this-root-password